:root {
    --primary-color: #007BFF;
    --hover-color: #0056b3;
    --active-color: #004085;
    --text-color: #fff;
    --bg-color: rgba(0, 0, 0, 0.75);
}

body {
    background-color: #000;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,53,53,1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    background: var(--bg-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: rgba(250, 250, 250, 0.6);
    transition: color 0.3s;
}

#alert {
    position: fixed;
    width: 300px;
    top: 20px;
    right: 20px;
    background: linear-gradient(45deg, #B22222, #8B0000);
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#alert.active {
    opacity: 1;
    transform: translateY(0);
}
#money {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1rem;
    letter-spacing: 1px;
}

button:hover {
    background: var(--hover-color);
}

button:active {
    background: var(--active-color);
}

#messages {
    font-size: 1.2em;
    color: #F00;
    margin-bottom: 20px;
    animation: pulse 1s ease;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#player-hand, #dealer-hand {
    font-size: 1.2em;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s, border 0.3s;
}

input[type="number"]:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

input[type="number"]:invalid {
    border: 2px solid red;
}

