/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: bg-animation 15s ease infinite;
  }
  
  @keyframes bg-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  
  
  .controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  label {
    font-size: 18px;
  }
